
fastapi
uvicorn[standard]
pydantic
pydantic-settings
pandas
joblib
scikit-learn
xgboost
python-dotenv
requests
httpx
jinja2
openai
pymongo[srv]
# DB (valgfrit nu, klar til senere)
SQLAlchemy
psycopg2-binary
# Google Sheets
gspread
